.header{background:#F4F9E2;border-bottom:1px solid #eef2f5}
.row{height:90px;display:flex;align-items:center;justify-content:space-between}
.logo{display:flex;align-items:center}
.logoImg{height:80px;width:auto;display:block}
.nav a{margin:0 10px;color:#000}
.cta{background:#F9B640;color:#fff;padding:10px 18px;border-radius:50px}

